<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
<head>
  <title>{{ page.title }} | {{ site.title }}</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Theme Styles -->
  {% if site.font == "Sans Serif" %}
  <link rel="stylesheet" href="{{ '/assets/css/font_sans_serif.css' | relative_url }}">
  {% else %}
  <link rel="stylesheet" href="{{ '/assets/css/font.css' | relative_url }}">
  {% endif %}
  {% if site.auto_dark_mode %}
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
  {% else %}
  <link rel="stylesheet" href="{{ '/assets/css/style-no-dark-mode.css' | relative_url }}">
  {% endif %}

  <!-- External Icons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" integrity="sha256-+N4/V/SbAFiW1MPBCXnfnP9QSN3+Keu+NlB+0ev/YKQ=" crossorigin="anonymous">
</head>
<body>
  <div class="wrapper">
    <header>
      <!-- Show title for the index page -->
      {% if page.content == "" %}
      <h1>{{ page.title }}</h1>
      {% endif %}
    </header>

    <main>
      {% if page.content == "" %}
      <!-- Render Blog Index -->
      {% for blog in site.blogs %}
      <div class="blog-summary">
        <h2><a href="{{ blog.url }}">{{ blog.title }}</a></h2>
        <p><small>Published on {{ blog.date | date: "%B %d, %Y" }}</small></p>
        <p><em>{{ blog.synopsis }}</em></p>
      </div>
      <hr>
      {% endfor %}
      {% else %}
      <!-- Render Individual Blog Post -->
      <h1>{{ page.title }}</h1>
      {% if page.date %}
      <p><small>Published on {{ page.date | date: "%B %d, %Y" }}</small></p>
      {% endif %}
      {% if page.synopsis %}
      <p><em>{{ page.synopsis }}</em></p>
      {% endif %}
      {{ content }}
      {% endif %}
    </main>

    <footer>
      <a href="/" style="text-decoration: none;">
        <i class="fas fa-home"></i>
      </a>
    </footer>
  </div>
</body>
</html>
